Repository gently-whitesnow/shadow: changes, and which lefthook commands are due for each by the changed paths.
All: run-example, run-shadow-agent

run-example:
  env:
    CONFIG_PATH: .shadow/example.configuration.json
  run: ./.shadow/run-send-tests.sh "$CONFIG_PATH" {push_files}

run-shadow-agent:
  env:
    CONFIG_PATH: .shadow/shadow-agent.configuration.json
  run: ./.shadow/run-send-tests.sh "$CONFIG_PATH" {push_files}

its worked
  example/Example.UnitTests/ExampleServiceTests.cs
  shadow-agent/Shadow.Agent/Program.cs
Due: run-example, run-shadow-agent

push files riil
  lefthook.yml
  shadow-agent/Shadow.Agent/Program.cs
Due: run-shadow-agent

test background
  example/Example.UnitTests/ExampleServiceTests.cs
  lefthook.yml
  shadow-agent/Shadow.Agent/Program.cs
Due: run-example, run-shadow-agent

remove nohup
  lefthook.yml
  shadow-agent/Shadow.Agent/Program.cs
Due: run-shadow-agent

without glob
  lefthook.yml
Due: none

tst
  lefthook.yml
Due: none

test worked
  lefthook.yml
Due: none

test
  example/Example.UnitTests/ExampleServiceTests.cs
  shadow-agent/Shadow.Agent/Program.cs
Due: run-example, run-shadow-agent

test deatach
  .shadow/run-send-tests.sh
  shadow-agent/Shadow.Agent/Program.cs
Due: run-shadow-agent

test
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

pls work
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

trigger
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

t
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

s
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

е
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

g
  .shadow/run-send-tests.bash
  .shadow/run-send-tests.sh
  example/Example.UnitTests/ExampleServiceTests.cs
  lefthook.yml
Due: run-example

п
  .shadow/run-send-tests.bash
Due: none

а
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

check
  .shadow/run-send-tests.bash
  lefthook.yml
  shadow-agent/Shadow.Agent/Program.cs
Due: run-shadow-agent

without
  .shadow/run-send-tests.bash
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

t
  .shadow/run-send-tests.bash
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

deat
  .shadow/run-send-tests.bash
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

test deatach
  example/Example.UnitTests/ExampleServiceTests.cs
  setup.sh
Due: run-example

t
  example/Example.UnitTests/ExampleServiceTests.cs
  setup.sh
Due: run-example

last try
  .shadow/run-send-tests.bash
  example/Example.UnitTests/ExampleServiceTests.cs
Due: run-example

test python
  .shadow/run-send-tests.bash
  .shadow/run_send_tests.py
  example/Example.UnitTests/ExampleServiceTests.cs
  lefthook.yml
Due: run-example

worked multiplatform
  lefthook.yml
Due: none

fix to pre-push
  lefthook.yml
Due: none

success worked python script
  .shadow/run_send_tests.py
  lefthook.yml
  setup.sh
  shadow-agent/Shadow.Agent/Program.cs
Due: run-shadow-agent

add mattermost
  shadow-agent/Shadow.Agent/Controllers/TestResultsController.cs
  shadow-agent/Shadow.Agent/DA/IMessengerClient.cs
  shadow-agent/Shadow.Agent/DA/Mattermost/HttpModels/CreateMattermostMessageRequest.cs
  shadow-agent/Shadow.Agent/DA/Mattermost/HttpModels/MattermostMessageResponse.cs
  shadow-agent/Shadow.Agent/DA/Mattermost/MattermostClient.cs
  shadow-agent/Shadow.Agent/DA/Mattermost/MattermostConstants.cs
  shadow-agent/Shadow.Agent/DA/Postgres/PostgresClient.cs
  shadow-agent/Shadow.Agent/DA/Postgres/ScopesDbClient.cs
  shadow-agent/Shadow.Agent/Extensions.cs/MattermostExtensions.cs
  shadow-agent/Shadow.Agent/Extensions.cs/NotificationsExtensions.cs
  shadow-agent/Shadow.Agent/Helpers/TestRunHeadersHelper.cs
  shadow-agent/Shadow.Agent/Models/Bo/NotifyReason.cs
  shadow-agent/Shadow.Agent/Models/Bo/TestRunMeta.cs
  shadow-agent/Shadow.Agent/Models/Bo/TestRunResult.cs
  shadow-agent/Shadow.Agent/Models/DbModels/ScopeDbModel.cs
  shadow-agent/Shadow.Agent/Models/Dto/MessengerScopeDto.cs
  shadow-agent/Shadow.Agent/Models/Dto/ScopeDto.cs
  shadow-agent/Shadow.Agent/Models/EnvironmentConstants.cs
  shadow-agent/Shadow.Agent/Options/DefaultOptions.cs
  shadow-agent/Shadow.Agent/Parsers/IResultParser.cs
  shadow-agent/Shadow.Agent/Parsers/JUnitParser.cs
  shadow-agent/Shadow.Agent/Parsers/TrxParser.cs
  shadow-agent/Shadow.Agent/Processing/ResultProcessor.cs
  shadow-agent/Shadow.Agent/Program.cs
  shadow-agent/Shadow.Agent/Services/IResultConsumer.cs
  shadow-agent/Shadow.Agent/Services/MessengerService.cs
  shadow-agent/Shadow.Agent/Services/ResultConsumerProvider.cs
  shadow-agent/Shadow.Agent/Services/ScopesService.cs
  shadow-agent/Shadow.Agent/Services/TestResultsService.cs
  shadow-agent/Shadow.Agent/Shadow.Agent.csproj
  shadow-agent/Shadow.Agent/appsettings.json
  shadow-agent/docker-compose.yml
  shadow-agent/sql/001_init.sql
Due: run-shadow-agent

write scope api
  .shadow/run_send_tests.py
  shadow-agent/Shadow.Agent.IntegrationTests/ScopesTests.cs
  shadow-agent/Shadow.Agent.IntegrationTests/Shadow.Agent.IntegrationTests.csproj
  shadow-agent/Shadow.Agent.IntegrationTests/TestRunsEndpointTests.cs
  shadow-agent/Shadow.Agent/Controllers/ScopesController.cs
  shadow-agent/Shadow.Agent/DA/Postgres/IScopesDbClient.cs
  shadow-agent/Shadow.Agent/DA/Postgres/ScopesDbClient.cs
  shadow-agent/Shadow.Agent/Helpers/TestRunHeadersHelper.cs
  shadow-agent/Shadow.Agent/Models/Bo/NotifyReason.cs
  shadow-agent/Shadow.Agent/Models/Bo/TestRunMeta.cs
  shadow-agent/Shadow.Agent/Models/DbModels/ScopeDbModel.cs
  shadow-agent/Shadow.Agent/Program.cs
  shadow-agent/Shadow.Agent/Properties/launchSettings.json
  shadow-agent/Shadow.Agent/Services/MessengerService.cs
  shadow-agent/Shadow.Agent/Services/ResultProcessor.cs
  shadow-agent/Shadow.Agent/Services/ScopesService.cs
  shadow-agent/Shadow.Agent/Services/TestResultsService.cs
  shadow-agent/sql/001_init.sql
Due: run-shadow-agent

ready to prod
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/publish-backend.yml
  .shadow/example.configuration.json
  .shadow/shadow-agent.configuration.json
  shadow-agent/Dockerfile
  shadow-agent/Shadow.Agent/Extensions.cs/NotificationsExtensions.cs
  shadow-agent/Shadow.Agent/Models/Bo/TestRunResult.cs
  shadow-agent/Shadow.Agent/Parsers/TrxParser.cs
  shadow-agent/Shadow.Agent/Program.cs
  shadow-agent/Shadow.Agent/Services/NotificationsService.cs
  shadow-agent/Shadow.Agent/Shadow.Agent.csproj
Due: run-shadow-agent

fix build
  .github/workflows/publish-backend.yml
Due: none

init setup
  readme.md
  setup/lefthook.dotnet.yml
  setup/readme.md
  setup/run_send_tests.py
  setup/setup.sh
Due: none

correct setup
  .shadow/.gitignore
  setup/.gitignore
  setup/configuration.json
  setup/setup.sh
Due: none

Path conditions:
  run-example: any of: example/**/*.cs
  run-shadow-agent: any of: shadow-agent/**/*.cs
